In [1]:
import pandas as pd
import numpy as np

***
Data source: https://www.kaggle.com/datasets/ruchi798/tv-shows-on-netflix-prime-video-hulu-and-disney/data
***

## Preprocessing

### Main Dataset

In [2]:
# Importing data: 
tv_shows = pd.read_csv('data/tv_shows.csv', sep = ',')
tv_shows

,Unnamed: 0,ID,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Type
0,0,1,Breaking Bad,2008,18+,9.4/10,100/100,1,0,0,0,1
1,1,2,Stranger Things,2016,16+,8.7/10,96/100,1,0,0,0,1
2,2,3,Attack on Titan,2013,18+,9.0/10,95/100,1,1,0,0,1
3,3,4,Better Call Saul,2015,18+,8.8/10,94/100,1,0,0,0,1
4,4,5,Dark,2017,16+,8.8/10,93/100,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
5363,5363,5713,Paradise Islands,2017,NaN,NaN,10/100,0,0,0,1,1
5364,5364,5714,Mexico Untamed,2018,NaN,NaN,10/100,0,0,0,1,1
5365,5365,5715,Wild Centeral America,2020,NaN,NaN,10/100,0,0,0,1,1
5366,5366,5716,Wild Russia,2018,NaN,NaN,10/100,0,0,0,1,1
5367,5367,5717,Fearless Adventures with Jack Randall,2018,NaN,NaN,10/100,0,0,0,1,1

In [3]:
tv_shows.columns

Index(['Unnamed: 0', 'ID', 'Title', 'Year', 'Age', 'IMDb', 'Rotten Tomatoes',
       'Netflix', 'Hulu', 'Prime Video', 'Disney+', 'Type'],
      dtype='object')

In [4]:
# Dropping the first column:
tv_shows.drop(columns = ['Unnamed: 0', 'Type', 'ID'], inplace = True)

In [5]:
tv_shows

,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+
0,Breaking Bad,2008,18+,9.4/10,100/100,1,0,0,0
1,Stranger Things,2016,16+,8.7/10,96/100,1,0,0,0
2,Attack on Titan,2013,18+,9.0/10,95/100,1,1,0,0
3,Better Call Saul,2015,18+,8.8/10,94/100,1,0,0,0
4,Dark,2017,16+,8.8/10,93/100,1,0,0,0
...,...,...,...,...,...,...,...,...,...
5363,Paradise Islands,2017,NaN,NaN,10/100,0,0,0,1
5364,Mexico Untamed,2018,NaN,NaN,10/100,0,0,0,1
5365,Wild Centeral America,2020,NaN,NaN,10/100,0,0,0,1
5366,Wild Russia,2018,NaN,NaN,10/100,0,0,0,1
5367,Fearless Adventures with Jack Randall,2018,NaN,NaN,10/100,0,0,0,1

In [6]:
# Looking at missing values:
tv_shows.isnull().sum()

Title                 0
Year                  0
Age                2127
IMDb                962
Rotten Tomatoes       0
Netflix               0
Hulu                  0
Prime Video           0
Disney+               0
dtype: int64

In [7]:
# Dropping those missing values:
tv_shows.dropna(inplace = True)

In [8]:
tv_shows

,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+
0,Breaking Bad,2008,18+,9.4/10,100/100,1,0,0,0
1,Stranger Things,2016,16+,8.7/10,96/100,1,0,0,0
2,Attack on Titan,2013,18+,9.0/10,95/100,1,1,0,0
3,Better Call Saul,2015,18+,8.8/10,94/100,1,0,0,0
4,Dark,2017,16+,8.8/10,93/100,1,0,0,0
...,...,...,...,...,...,...,...,...,...
5336,Disney Family Sundays,2019,all,5.6/10,31/100,0,0,0,1
5339,Wild Chile,2018,7+,7.5/10,30/100,0,0,0,1
5340,Howie Mandel's Animals Doing Things,2018,all,3.2/10,30/100,0,0,0,1
5341,The Big Fib,2020,all,5.4/10,29/100,0,0,0,1
5342,Vampirina: Ghoul Girls Rock!,2018,all,7.7/10,28/100,0,0,0,1

In [9]:
# Expanding data so that each observation contains the platform type: (should be 4 * 3207 observations)
tv_shows_melt = pd.melt(tv_shows, id_vars = ['Title', 'Year', 'Age', 'IMDb', 'Rotten Tomatoes'],
                        value_vars = ['Netflix', 'Hulu', 'Prime Video', 'Disney+'])

tv_shows_melt.rename(columns = {'variable': 'Platform', 'value': 'Occurrence'}, inplace = True)

In [10]:
tv_shows_melt

,Title,Year,Age,IMDb,Rotten Tomatoes,Platform,Occurrence
0,Breaking Bad,2008,18+,9.4/10,100/100,Netflix,1
1,Stranger Things,2016,16+,8.7/10,96/100,Netflix,1
2,Attack on Titan,2013,18+,9.0/10,95/100,Netflix,1
3,Better Call Saul,2015,18+,8.8/10,94/100,Netflix,1
4,Dark,2017,16+,8.8/10,93/100,Netflix,1
...,...,...,...,...,...,...,...
12823,Disney Family Sundays,2019,all,5.6/10,31/100,Disney+,1
12824,Wild Chile,2018,7+,7.5/10,30/100,Disney+,1
12825,Howie Mandel's Animals Doing Things,2018,all,3.2/10,30/100,Disney+,1
12826,The Big Fib,2020,all,5.4/10,29/100,Disney+,1
12827,Vampirina: Ghoul Girls Rock!,2018,all,7.7/10,28/100,Disney+,1

In [11]:
# Transform IMDb and Rotten Tomatoes to a float an integer:
#NOTE: no calculations to be done on these as they are qualitative (only for graphing purposes)

# 1) Fix the string values for the two columns:
# lists to store the new string values
strings_imdb = []
strings_rt = []

# looping over each string value for each column IMDb and Rotten Tomatoes
for i, n in zip(list(tv_shows_melt['IMDb'].values), list(tv_shows_melt['Rotten Tomatoes'].values)):
    
    # call the index range for the string in numerator
    strings_imdb.append(i[:3])
    
    if n == "100/100":
        strings_rt.append(n[:3]) 
    else:
        strings_rt.append(n[:2])

In [12]:
# 2) Convert string lists:
strings_imdb = list(map(float, strings_imdb))
strings_rt = list(map(int, strings_rt))

In [13]:
# 3) Place new values into columns:
tv_shows_melt['IMDb'] = strings_imdb
tv_shows_melt['Rotten Tomatoes'] = strings_rt
tv_shows_melt

,Title,Year,Age,IMDb,Rotten Tomatoes,Platform,Occurrence
0,Breaking Bad,2008,18+,9.4,100,Netflix,1
1,Stranger Things,2016,16+,8.7,96,Netflix,1
2,Attack on Titan,2013,18+,9.0,95,Netflix,1
3,Better Call Saul,2015,18+,8.8,94,Netflix,1
4,Dark,2017,16+,8.8,93,Netflix,1
...,...,...,...,...,...,...,...
12823,Disney Family Sundays,2019,all,5.6,31,Disney+,1
12824,Wild Chile,2018,7+,7.5,30,Disney+,1
12825,Howie Mandel's Animals Doing Things,2018,all,3.2,30,Disney+,1
12826,The Big Fib,2020,all,5.4,29,Disney+,1
12827,Vampirina: Ghoul Girls Rock!,2018,all,7.7,28,Disney+,1

In [14]:
# Have a column of rating type (IMDb and Rotten Tomatoes) with their values:
tv_shows_melt2 = pd.melt(tv_shows_melt, id_vars = ['Title', 'Year', 'Age', 'Platform', 'Occurrence'],
                        value_vars = ['Rotten Tomatoes', 'IMDb'])
tv_shows_melt2.rename(columns = {'variable': 'Rating type', 'value': 'Score'}, inplace = True)

In [15]:
tv_shows_melt2

,Title,Year,Age,Platform,Occurrence,Rating type,Score
0,Breaking Bad,2008,18+,Netflix,1,Rotten Tomatoes,100.0
1,Stranger Things,2016,16+,Netflix,1,Rotten Tomatoes,96.0
2,Attack on Titan,2013,18+,Netflix,1,Rotten Tomatoes,95.0
3,Better Call Saul,2015,18+,Netflix,1,Rotten Tomatoes,94.0
4,Dark,2017,16+,Netflix,1,Rotten Tomatoes,93.0
...,...,...,...,...,...,...,...
25651,Disney Family Sundays,2019,all,Disney+,1,IMDb,5.6
25652,Wild Chile,2018,7+,Disney+,1,IMDb,7.5
25653,Howie Mandel's Animals Doing Things,2018,all,Disney+,1,IMDb,3.2
25654,The Big Fib,2020,all,Disney+,1,IMDb,5.4
25655,Vampirina: Ghoul Girls Rock!,2018,all,Disney+,1,IMDb,7.7

In [16]:
# Dropping occurrences with 0:
tv_shows_melt2 = tv_shows_melt2.loc[tv_shows_melt2['Occurrence'] == 1]

In [17]:
tv_shows_melt2

,Title,Year,Age,Platform,Occurrence,Rating type,Score
0,Breaking Bad,2008,18+,Netflix,1,Rotten Tomatoes,100.0
1,Stranger Things,2016,16+,Netflix,1,Rotten Tomatoes,96.0
2,Attack on Titan,2013,18+,Netflix,1,Rotten Tomatoes,95.0
3,Better Call Saul,2015,18+,Netflix,1,Rotten Tomatoes,94.0
4,Dark,2017,16+,Netflix,1,Rotten Tomatoes,93.0
...,...,...,...,...,...,...,...
25651,Disney Family Sundays,2019,all,Disney+,1,IMDb,5.6
25652,Wild Chile,2018,7+,Disney+,1,IMDb,7.5
25653,Howie Mandel's Animals Doing Things,2018,all,Disney+,1,IMDb,3.2
25654,The Big Fib,2020,all,Disney+,1,IMDb,5.4
25655,Vampirina: Ghoul Girls Rock!,2018,all,Disney+,1,IMDb,7.7

In [18]:
# Only looking at shows from 2000-2021:
tv_shows_melt2 = tv_shows_melt2.loc[(tv_shows_melt2['Year'] >= 2000) & (tv_shows_melt2['Year'] <= 2021)]

In [19]:
list(np.sort(tv_shows_melt2['Year'].unique()))

[2000,
 2001,
 2002,
 2003,
 2004,
 2005,
 2006,
 2007,
 2008,
 2009,
 2010,
 2011,
 2012,
 2013,
 2014,
 2015,
 2016,
 2017,
 2018,
 2019,
 2020,
 2021]

In [20]:
# Saving updated dataframe:
tv_shows_melt2.to_csv('data/tv_shows_updated.csv', index = False)